/* ! DEBUG */

.bordered {
  border: 2px dashed red;
}

.box {
  width: 100%;
  min-height: 80px;
  padding: 1rem;
  border: 2px solid black;

  line-height: 80px;
  background-color: aqua;
}

/* ! GENERICS */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* ! SECTIONS SITE */

/* ? TOP CONTENT */

.nav-top {
  height: 80px;
}

.navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu[data-bs-popper] {
  left: -120px;
}

.form-top {
  flex-grow: 1;
}

.img-small {
  max-width: 50px;
}

.dropdown-toggle {
  color: #ff8f00;
}

.dropdown-toggle::after {
  content: none;
}

/* ? BOTTOM CONTENT */

/* ? LEFT CONTENT */

.nav-bottom {
  width: 60px;
  height: calc(100vh - 80px);
  background-color: #051e34;
}

.ico-container {
  width: 22px;
  display: inline-block;
}

#left-content a:hover {
  background-color: grey;
}

/* ? RIGHT CONTENT */

#right-content {
  height: calc(100vh - 80px);
  overflow: auto;
}

/* ? HEADER */

header {
  min-height: 20%;
  background-color: #1b72e8;
}

/* ? MAIN */

/* ! RESPONSIVE */

/* ? TABLET */

@media screen and (min-width: 768px) {
}

/* ? DESKTOP */

@media screen and (min-width: 992px) {
  .nav-bottom {
    width: 120px;
  }

  #right-content {
    width: calc(100% - 120px);
  }
}
